.code_snippet * {
    font-size: 0.75rem;
}

.code_snippet code, .code_snippet code * {
    font-size: 0.75rem !important;
    color: var(--ifm-color-light);
}

.code_snippet code {
    color: var(--ifm-color-light);
    background: none;
}

.code_snippet button {
    border: none;
    cursor: pointer;
}